body {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    background-color: white;
    height: 1020px;
}

.fundo {
    background-color:#2a9955;
    height: 200px;
    width: 100%;
    z-index: 1;
    display: flex;
}

.fundo img {
    height: 30px;
    width: 30px;
    padding-top: 40px;
    padding-left: 210px;
    display: inline-block;
}

.fundo h4 {
    text-transform: uppercase;
    padding-top: 24px;
    padding-left: 10px;
    display: inline-block;
    color: white;
}

/*main*/


.main {
    background-color: rgb(255, 255, 255);
    height: 800px;
    width: 960px;
    position: absolute;
    left: 200px;
    top: 100px;
    z-index: 2;
    box-shadow: 3px 3px 3px 3px rgb(116, 108, 108);
}

.main h1 {
    padding: 50px 40px 50px 60px;
    opacity: 0.80;
    font-size: 25px;
    text-decoration: none;
}

ol {
    display: flex;
    flex-direction: column;
    padding: 20px 40px 50px 90px;
    font-size: 20px;
}

.list {
    padding-bottom: 30px;
}

span {
    padding-right: 5px;
    padding-left: 5px;
    width: 50px;
    background-color: rgb(163, 159, 159);
}

.ajuda {
    margin-top: 150px;
    text-align: center;
    
}

.ajuda h5 {
    font-size: 20px;
}

button {
    position: absolute;
    top: 220px;
    right: 130px;
    height: 150px;
    width: 150px;
    background-color:#2a9955;
    color: white;
    border-radius: 50px;
}

.botao p {
    text-transform: uppercase;
}

button:hover {
    background-color: white;
    color: #2a9955;
}
